    <aside>
    <h3>RSS</h3>
    <p><a href="/feed.xml" title="Subscribe to our RSS feed">Subscribe to our RSS feed</a></p>
    <h3>Connect with me</h3>
    <ul class="social">
    <li><a href="https://github.com/oribenshir" title="Github" class="github">Github</a></li>
    <li><a href="https://www.linkedin.com/in/ori-ben-shir-b764a889/" title="linked in" class="linked">LinkedIn</a></li>
    <li><a href="https://twitter.com/oribenshir" title="twitter" class="twitter">Twitter</a></li>
    </ul>
    </aside>
